{% include '/includes/header.html' %}
<h2>compare gpu</h2>

<table style="width:100%">
    <tr>
        <th>Gpu 1</th>
        <th>gpu 2</th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
    </tr>
</table>

{% include '/includes/footer.html' %}