<!--{% include '/includes/header.html' %}-->
<!--<h1>Edit GPU</h1>-->
<!--<form method="post" action="/gpu/edit?gpu_name={{gpu.name}}">-->

<!--{% for err in errors %}-->
<!--<div>{{err}}</div>-->
<!--{% endfor %}-->
<!--Name:<input type="text" name="name" value="{{gpu.name}}" disabled/>-->
<!--<br/>-->
<!--Manufacturer:<input type="text" name="manufacturer" value="{{gpu.manufacturer}}"/>-->
<!--<br/>-->
<!--date issued:<input type="date" name="date" onkeydown="return false"  value="{{gpu.date}}"/>-->
<!--<br/>-->
<!--<br/>-->
<!--<input type="checkbox" name="geometryShader" value="yes" {% if gpu.geometryShader %}checked{% endif %}>Geometry Shader<br>-->
<!--<input type="checkbox" name="tesselationShader" value="yes" {% if gpu.tesselationShader %}checked{% endif %}>Tesselation Shader,<br>-->
<!--<input type="checkbox" name="shaderInt16" value="yes" {% if gpu.shaderInt16 %}checked{% endif %}>ShaderInt 16<br>-->
<!--<input type="checkbox" name="sparseBinding" value="yes" {% if gpu.sparseBinding %}checked{% endif %}>Sparse Binding<br>-->
<!--<input type="checkbox" name="textureCompressionETC2" value="yes" {% if gpu.textureCompressionETC2 %}checked{% endif %}>Texture Compression ETC2<br>-->
<!--<input type="checkbox" name="vertexPipelineStoresAndAtomics" value="yes" {% if gpu.vertexPipelineStoresAndAtomics %}checked{% endif %}>Vertex Pipeline Stores And Atomics<br>-->
<!--<input type="submit"/>-->
<!--<input type="hidden" name="form" value="edit_gpu">-->
<!--</form>-->
<!--{% include '/includes/footer.html' %}-->

{% extends "/includes/base.html" %}
{% block title %}View GPU{% endblock %}
{% block head %}
{% endblock %}
{% block user_url %}{{url}}{% endblock %}{% block user_text %}{{url_string}}{% endblock %}

{% block content %}
<h1>Edit GPU</h1>
<form method="post" action="/gpu/edit?gpu_name={{gpu.name}}">

    {% for err in errors %}
    <div>{{err}}</div>
    {% endfor %}
    Name:<input type="text" name="name" value="{{gpu.name}}" disabled/>
    <br/>
    Manufacturer:<input type="text" name="manufacturer" value="{{gpu.manufacturer}}"/>
    <br/>
    date issued:<input type="date" name="date" onkeydown="return false" value="{{gpu.date}}"/>
    <br/>
    <br/>
    <input type="checkbox" name="geometryShader" value="yes" {% if gpu.geometryShader %}checked{% endif %}>Geometry
    Shader<br>
    <input type="checkbox" name="tesselationShader" value="yes" {% if gpu.tesselationShader %}checked{% endif %}>Tesselation
    Shader,<br>
    <input type="checkbox" name="shaderInt16" value="yes" {% if gpu.shaderInt16 %}checked{% endif %}>ShaderInt 16<br>
    <input type="checkbox" name="sparseBinding" value="yes" {% if gpu.sparseBinding %}checked{% endif %}>Sparse
    Binding<br>
    <input type="checkbox" name="textureCompressionETC2" value="yes" {% if gpu.textureCompressionETC2 %}checked{% endif
           %}>Texture Compression ETC2<br>
    <input type="checkbox" name="vertexPipelineStoresAndAtomics" value="yes" {% if gpu.vertexPipelineStoresAndAtomics
           %}checked{% endif %}>Vertex Pipeline Stores And Atomics<br>
    <input type="submit"/>
    <input type="hidden" name="form" value="edit_gpu">
</form>
{% endblock %}