<!--gpu list-->
<!--<ul>-->
<!--{% for val in gpus %}-->
<!--<li><a href="gpu/view?gpu_name={{ val.name }}">{{ val.name }}</a></li>-->
<!--{% endfor %}-->
<!--</ul>-->


{% extends "/includes/base.html" %}
{% block title %}View GPU{% endblock %}
{% block head %}
{% endblock %}
{% block user_url %}{{url}}{% endblock %}{% block user_text %}{{url_string}}{% endblock %}

{% block content %}
<h2>GPU</h2>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            {% for val in gpus %}
            <li class="list-group-item"><a href="gpu/view?gpu_name={{ val.name }}">{{ val.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}