<!--<form method="post" action="/gpu/new">-->

<!--{% for err in errors %}-->
<!--<div>{{err}}</div>-->
<!--{% endfor %}-->
<!--Name:<input type="text" name="name"/>-->
<!--<br/>-->
<!--Manufacturer:<input type="text" name="manufacturer"/>-->
<!--<br/>-->
<!--date issued:<input type="date" name="date" onkeydown="return false" />-->
<!--<br/>-->
<!--<br/>-->
<!--<input type="checkbox" name="geometryShader" value="yes">Geometry Shader<br>-->
<!--<input type="checkbox" name="tesselationShader" value="yes">Tesselation Shader,<br>-->
<!--<input type="checkbox" name="shaderInt16" value="yes">ShaderInt 16<br>-->
<!--<input type="checkbox" name="sparseBinding" value="yes">Sparse Binding<br>-->
<!--<input type="checkbox" name="textureCompressionETC2" value="yes">Texture Compression ETC2<br>-->
<!--<input type="checkbox" name="vertexPipelineStoresAndAtomics" value="yes">Vertex Pipeline Stores And Atomics<br>-->
<!--<input type="submit"/>-->
<!--<input type="hidden" name="form" value="new_gpu">-->
<!--</form>-->


{% extends "/includes/base.html" %}
{% block title %}View GPU{% endblock %}
{% block head %}
{% endblock %}
{% block user_url %}{{url}}{% endblock %}{% block user_text %}{{url_string}}{% endblock %}

{% block content %}
<!--<form method="post" action="/gpu/new">-->

<!--{% for err in errors %}-->
<!--<div>{{err}}</div>-->
<!--{% endfor %}-->
<!--Name:<input type="text" name="name"/>-->
<!--<br/>-->
<!--Manufacturer:<input type="text" name="manufacturer"/>-->
<!--<br/>-->
<!--date issued:<input type="date" name="date" onkeydown="return false"/>-->
<!--<br/>-->
<!--<br/>-->
<!--<input type="checkbox" name="geometryShader" value="yes">Geometry Shader<br>-->
<!--<input type="checkbox" name="tesselationShader" value="yes">Tesselation Shader,<br>-->
<!--<input type="checkbox" name="shaderInt16" value="yes">ShaderInt 16<br>-->
<!--<input type="checkbox" name="sparseBinding" value="yes">Sparse Binding<br>-->
<!--<input type="checkbox" name="textureCompressionETC2" value="yes">Texture Compression ETC2<br>-->
<!--<input type="checkbox" name="vertexPipelineStoresAndAtomics" value="yes">Vertex Pipeline Stores And Atomics<br>-->
<!--<input type="submit"/>-->
<!--<input type="hidden" name="form" value="new_gpu">-->
<!--</form>-->
<div class="row">
    <div class="col-md-6">
        <h2>Add GPU</h2>
        {% for err in errors %}
        <div class="alert alert-danger" role="alert">
            {{err}}
        </div>
        {% endfor %}

        {% if message %}
            <div class="alert alert-success" role="alert">
              {{message}}
            </div>
        {% endif %}

        <form method="post" action="/gpu/new">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="manufacturer">Manufacturer:</label>
                <input type="text" name="manufacturer" class="form-control" id="manufacturer"
                       placeholder="Enter manufacturer">
            </div>
            <div class="form-group">
                <label for="date">Date issued:</label>
                <input type="date" name="date" class="form-control" id="date" onkeydown="return false">
            </div>
            <div class="form-check">
                <input type="checkbox" name="geometryShader" value="yes" class="form-check-input" id="geometryShader">
                <label class="form-check-label" for="geometryShader">Geometry Shader</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" value="yes" name="tesselationShader"
                       id="tesselationShader">
                <label class="form-check-label" for="tesselationShader">Tesselation Shader</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" value="yes" name="shaderInt16" id="shaderInt16">
                <label class="form-check-label" for="shaderInt16">ShaderInt 16</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" value="yes" name="sparseBinding" id="sparseBinding">
                <label class="form-check-label" for="sparseBinding">Sparse Binding</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" value="yes" name="textureCompressionETC2"
                       id="textureCompressionETC2">
                <label class="form-check-label" for="textureCompressionETC2">Texture Compression ETC2</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" value="yes" name="vertexPipelineStoresAndAtomics"
                       id="vertexPipelineStoresAndAtomics">
                <label class="form-check-label" for="vertexPipelineStoresAndAtomics">Vertex Pipeline Stores And
                    Atomics</label>
            </div>
            <input type="hidden" name="form" value="new_gpu">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

{% endblock %}