{% include '/includes/header.html' %}
<h2>Search GPU by Features</h2>
<div>
    <input type="checkbox" disabled name="geometryShader" value="yes">Geometry Shader
    <input type="checkbox" disabled name="tesselationShader" value="yes">Tesselation Shader,
    <input type="checkbox" disabled name="shaderInt16" value="yes">ShaderInt 16
    <input type="checkbox" disabled name="sparseBinding" value="yes">Sparse Binding
    <input type="checkbox" disabled name="textureCompressionETC2" value="yes">Texture Compression ETC2
    <input type="checkbox" disabled name="vertexPipelineStoresAndAtomics" value="yes">Vertex Pipeline Stores And Atomics
</div>

{% include '/includes/footer.html' %}