
<!--<h2>Search GPU by Features</h2>-->
<!--<div>-->

<!--{% if errors %}-->
<!--{{errors}}-->
<!--{% endif %}-->
<!--<form name="search" method="post" action="">-->
<!--<input type="checkbox" name="geometryShader" value="yes">Geometry Shader-->
<!--<input type="checkbox" name="tesselationShader" value="yes">Tesselation Shader,-->
<!--<input type="checkbox" name="shaderInt16" value="yes">ShaderInt 16-->
<!--<input type="checkbox" name="sparseBinding" value="yes">Sparse Binding-->
<!--<input type="checkbox" name="textureCompressionETC2" value="yes">Texture Compression ETC2-->
<!--<input type="checkbox" name="vertexPipelineStoresAndAtomics" value="yes">Vertex Pipeline Stores And Atomics-->
<!--<input type="hidden" name="form" value="search_feature">-->
<!--<input type="submit" value="Search">-->
<!--</form>-->

<!--</div>-->
<!--<div>-->
<!--<ul>-->
<!--{% for result in results %}-->
<!--<li>{{result.name}}</li>-->
<!--{% endfor %}-->
<!--</ul>-->
<!--</div>-->



{% extends "/includes/base.html" %}
{% block title %}View GPU{% endblock %}
{% block head %}
{% endblock %}
{% block user_url %}{{url}}{% endblock %}{% block user_text %}{{url_string}}{% endblock %}

{% block content %}
<h3>Search GPU by Features</h3>
<div>

    {% if errors %}
    {{errors}}
    {% endif %}
    <form name="search" method="post" action="">
        <input type="checkbox" name="geometryShader" value="yes">Geometry Shader
        <input type="checkbox" name="tesselationShader" value="yes">Tesselation Shader,
        <input type="checkbox" name="shaderInt16" value="yes">ShaderInt 16
        <input type="checkbox" name="sparseBinding" value="yes">Sparse Binding
        <input type="checkbox" name="textureCompressionETC2" value="yes">Texture Compression ETC2
        <input type="checkbox" name="vertexPipelineStoresAndAtomics" value="yes">Vertex Pipeline Stores And Atomics
        <input type="hidden" name="form" value="search_feature">
        <input type="submit" value="Search">
    </form>

</div>
<div>
    <ul>
        {% for result in results %}
        <li>{{result.name}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}